body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 16px;
}

.icon {
    width: 7rem;
}

a {
    text-decoration: none;
}

.inner {
    width: 80%;
    margin: 0 auto;
}

.alert {
    padding: 1rem;
    border-radius: .25rem;
    border-width: 1px;
}

.alert.error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-item {
    list-style: none;
}

.error-page {
    text-align: center;
}

.error-page-img {
    height: 30rem;
    display: block;
    margin: 0 auto;
}

.error-page-title {
    font-size: 2rem;
    color: #333;
}

.error-page-link {
    display: inline-block;
    background-color: #0D6EFD;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.header {
    padding: 1.75rem;
    background-color: #ddd;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    box-sizing: border-box;
}

.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.logout-btn {
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.logout-btn:hover {
    cursor: pointer;
    background-color: #000;
}

.logout-btn-icon {
    width: 1rem;
    height: 1rem;
}

.success-btn {
    background: #198754;
    border: none;
    color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.success-btn:hover {
    cursor: pointer;
    background: #13643e;
}


.empty-inner {
    padding: 3rem;
    text-align: center;
}

.empty-text {
    color: #333;
}

.empty-img {
    width: 30%;
}

.empty-btn {
    display: flex;
    justify-content: center;
}

.primary-btn {
    width: 100%;
    background-color: #0D6EFD;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    padding: 1.5rem 2rem;
    font-size: 1rem;
}

.primary-btn:hover {
    background-color: #0c5cd4;
}

.auth-title {
    margin-top: 50px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.auth-title-icon {
    width: 3rem;
    height: 3rem;
}

.auth-input-group {
    display: grid;
    row-gap: .5rem;
    margin: 2rem 0;
}

.auth-input-label {
    font-weight: bold;
    font-size: 1.5rem;
}

.auth-input {
    box-sizing: border-box;
    width: 100%;
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
    color: #fff;
    letter-spacing: 1px;
}

.auth-input::placeholder {
    color: #fff;
    opacity: 0.6;
}

.auth-submit-btn {
    margin-top: 4rem;
}

.create-character-form-contents {
    width: 100%;
}

.create-character-form-big-five {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.inner-create-character-form {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    margin-top: 2rem;
}

.create-character-submit {
    margin-top: 2rem;
}

.create-character-icon {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: relative;
    background-color: #D9D9D9;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-character-icon:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, .5);
    z-index: 1;
}

.create-character-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    transition: .1s;
}

.create-character-icon:hover {
    cursor: pointer;
}

.create-character-input-group {
    margin: 1rem 0;
    display: grid;
    row-gap: .5rem;
}

.create-character-input-label {
    font-size: 1rem;
    font-weight: bold;
}

.create-character-input {
    padding: 1rem;
    color: #fff;
    background-color: #333;
    border-radius: 8px;
    font-size: 1rem;
}

.create-character-range {
    margin-top: .5rem;
}

.inner-main {
    display: grid;
    grid-template-columns: 25% 8px calc(75% - 32px);
    column-gap: 8px;
    padding: 2rem;
}

.rooms {
    height: calc(100vh - 13rem);
    overflow-y: auto;
}

.room {
    display: grid;
    padding: 1.5rem;
    border-radius: 16px;
    background: #333;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.room:hover {
    cursor: pointer;
}

.room-title {
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
    margin: 0;
}

.room-purpose {
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: .8rem;
    margin: .6rem 0 0 0;
    width: 20rem;
    text-overflow: ellipsis;
}

.hr {
    width: 8px;
    height: 100%;
    border-radius: 8px;
    background-color: #ddd;
}

.chat-container {
    height: 100%;
    position: relative;
}

.chat-messages {
    height: calc(100vh - 13rem - 16rem);
    overflow-y: auto;
}

.chat-message {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.chat-message.me {
    justify-content: flex-end;
}

.chat-message-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(191, 191, 191);
}

.chat-message-icon.me {
    order: 1;
}

.chat-message-text {
    max-width: 60%;
    padding: 1.5rem;
    margin: 0;
    border-radius: 5rem;
    color: #fff;
}

.chat-message-text.me {
    background-color: #888;
}

.chat-message-text.others {
    background-color: #333;
}

.chat-form {
    display: grid;
    align-items: center;
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: #fff;
    grid-template-columns: 85% 15%;
}

.chat-form-textarea {
    padding: 1.5rem;
    border-radius: 16px;
    background: #333;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.75;
    box-sizing: border-box;
}

.chat-form-submit-button {
    display: flex;
    width: 5.875rem;
    height: 5.875rem;
    margin: 1.5rem 1.875rem;
    justify-content: center;
    align-items: center;
    column-gap: 1.875rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: #198754;
    border: 0;
    color: #fff;
}

.chat-form-submit-button:hover {
    background: #13643e;
    cursor: pointer;
}

.create-chatroom-title {
    color: #333;
    font-weight: bold;
    font-size: 3rem;
}

.create-chatroom-input-label {
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    display: block;
    margin: 2rem 0 0 0;
}

.create-chatroom-character-wrapper {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    column-gap: 1rem;
}

.create-chatroom-character {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .75rem;
    background-color: #333;
    border-radius: 16px;
}

.create-chatroom-character:hover {
    background-color: #555;
    cursor: pointer;
}

.create-chatroom-character.selecting {
    background-color: #999;
}

.create-chatroom-character-icon {
    min-width: 3rem;
    min-height: 3rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.create-chatroom-character-name {
    font-weight: bold;
    color: #fff;
    margin: 0;
    white-space: nowrap;
}

.create-chatroom-character-sex {
    color: #fff;
    margin: .8rem 0 0 0;
}

.create-chatroom-input {
    width: 100%;
    border-radius: 16px;
    padding: 1.5rem;
    background-color: #333;
    color: #fff;
    margin-top: 1rem;
    box-sizing: border-box;
}

.create-chatroom-submit {
    margin: 2rem 0;
}

.lets-chat-inner {
    text-align: center;
    font-size: 2rem;
}

.lets-chat-text {
    color: #333;
}

.lets-chat-element {
    display: flex;
    justify-content: center;
}

.lets-chat-img {
    width: 40%;
}
